{
  "openapi": "3.0.3",
  "info": {
    "title": "Auth Center API",
    "version": "1.5.0"
  },
  "servers": [
    {
      "url": "https://taxindo.ai"
    }
  ],
  "paths": {
    "/api/auth/login": {
      "post": {
        "summary": "Login user",
        "description": "Cross-origin requests must include x-api-key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request / redirect"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "summary": "Register user",
        "description": "Cross-origin requests must include x-api-key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Register success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request / redirect"
          },
          "409": {
            "description": "Email already exists"
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "summary": "Logout user",
        "description": "Cross-origin requests must include x-api-key.",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "integrationApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Logout success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "summary": "Get current user + plan",
        "description": "Cross-origin requests must include x-api-key.",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "integrationApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/auth/authorize": {
      "get": {
        "summary": "Validate redirect for logged-in session",
        "description": "Cross-origin requests must include x-api-key.",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "integrationApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Redirect resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid redirect"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/profile": {
      "get": {
        "summary": "Get profile detail + quota",
        "description": "Cross-origin requests must include x-api-key.",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "integrationApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/plans": {
      "get": {
        "summary": "Get plan definitions",
        "description": "Cross-origin requests must include x-api-key.",
        "security": [
          {
            "integrationApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Plans",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlansResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/plan-prices": {
      "get": {
        "summary": "Public plan prices (monthly/yearly)",
        "description": "Read-only pricing without API key (still subject to IP/domain/CORS allowlist).",
        "parameters": [
          {
            "name": "plan",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FREE",
                "BASIC",
                "PLUS",
                "MAX"
              ]
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "MONTHLY",
                "YEARLY"
              ]
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanPricesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/billing/change-plan": {
      "post": {
        "summary": "Change user plan (Billing/Admin)",
        "security": [
          {
            "billingApiKey": []
          },
          {
            "billingBearer": []
          },
          {
            "integrationApiKey": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePlanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/api/billing/users": {
      "get": {
        "summary": "List users (Billing/Admin)",
        "security": [
          {
            "billingApiKey": []
          },
          {
            "billingBearer": []
          },
          {
            "integrationApiKey": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "plan",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FREE",
                "BASIC",
                "PLUS",
                "MAX"
              ]
            }
          },
          {
            "name": "role",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ADMIN",
                "USER"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingUsersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/billing/plan-prices": {
      "get": {
        "summary": "List plan prices (monthly/yearly)",
        "security": [
          {
            "billingApiKey": []
          },
          {
            "billingBearer": []
          },
          {
            "integrationApiKey": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "plan",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FREE",
                "BASIC",
                "PLUS",
                "MAX"
              ]
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "MONTHLY",
                "YEARLY"
              ]
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanPricesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Upsert plan prices",
        "security": [
          {
            "billingApiKey": []
          },
          {
            "billingBearer": []
          },
          {
            "integrationApiKey": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanPriceUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanPricesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "summary": "Delete plan price",
        "security": [
          {
            "billingApiKey": []
          },
          {
            "billingBearer": []
          },
          {
            "integrationApiKey": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "plan",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "FREE",
                "BASIC",
                "PLUS",
                "MAX"
              ]
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MONTHLY",
                "YEARLY"
              ]
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "tpc_session"
      },
      "integrationApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "billingApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "billingBearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "AuthUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "role": {
            "type": "string",
            "enum": [
              "ADMIN",
              "USER"
            ]
          },
          "plan": {
            "type": "string",
            "enum": [
              "FREE",
              "BASIC",
              "PLUS",
              "MAX"
            ]
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 6
          },
          "appId": {
            "type": "string"
          },
          "redirectUri": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 6
          },
          "appId": {
            "type": "string"
          },
          "redirectUri": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/AuthUser"
          },
          "redirectTo": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/AuthUser"
          },
          "plan": {
            "type": "object"
          },
          "usage": {
            "type": "object"
          }
        }
      },
      "ProfileResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/AuthUser"
          },
          "plan": {
            "type": "object"
          },
          "usage": {
            "type": "object"
          }
        }
      },
      "PlansResponse": {
        "type": "object",
        "properties": {
          "plans": {
            "type": "object"
          }
        }
      },
      "AuthorizeResponse": {
        "type": "object",
        "properties": {
          "redirectTo": {
            "type": "string"
          },
          "app": {
            "type": "object"
          }
        }
      },
      "ChangePlanRequest": {
        "type": "object",
        "required": [
          "plan"
        ],
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "plan": {
            "type": "string",
            "enum": [
              "FREE",
              "BASIC",
              "PLUS",
              "MAX"
            ]
          }
        }
      },
      "BillingUsersResponse": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "name": {
                  "type": "string",
                  "nullable": true
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "ADMIN",
                    "USER"
                  ]
                },
                "plan": {
                  "type": "string",
                  "enum": [
                    "FREE",
                    "BASIC",
                    "PLUS",
                    "MAX"
                  ]
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "PlanPrice": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string",
            "enum": [
              "FREE",
              "BASIC",
              "PLUS",
              "MAX"
            ]
          },
          "interval": {
            "type": "string",
            "enum": [
              "MONTHLY",
              "YEARLY"
            ]
          },
          "currency": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          }
        }
      },
      "PlanPricesResponse": {
        "type": "object",
        "properties": {
          "prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanPrice"
            }
          }
        }
      },
      "PlanPriceUpsertRequest": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "plan": {
                "type": "string",
                "enum": [
                  "FREE",
                  "BASIC",
                  "PLUS",
                  "MAX"
                ]
              },
              "interval": {
                "type": "string",
                "enum": [
                  "MONTHLY",
                  "YEARLY"
                ]
              },
              "currency": {
                "type": "string"
              },
              "amount": {
                "type": "integer"
              }
            },
            "required": [
              "plan",
              "interval",
              "amount"
            ]
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanPrice"
            }
          }
        ]
      }
    }
  }
}
